
// ------------------------------- Includes -------------------------

include "binds.kdl"
include "window_rules.kdl"
include "animations.kdl"
include "startup_shit.kdl"
include "layout.kdl"



cursor {
    xcursor-theme "Moga-Candy-Black"
    xcursor-size 30

    hide-when-typing 
    hide-after-inactive-ms 1000
}

// ---------------------------- Workspaces ----------------------------


workspace "Study"
workspace "Pomodoro"

// ---------------------------- Overview ----------------------------

overview {
    workspace-shadow {
        off
    }
    zoom 0.4
}

// ---------------------------- Wallpaper drop ----------------------------

layer-rule {
    match namespace="^awww"
    place-within-backdrop true

}

layer-rule {
    match namespace="^swaync"
    place-within-backdrop false
    block-out-from "screencast"


}

layer-rule {
    match namespace="^vicinae"
    place-within-backdrop false
    block-out-from "screencast"
    
    shadow {
        on
        softness 40
        spread 10


    }



}



// ----------------------------   Input  ---------------------------- 

input {
    keyboard {
        xkb {
        
        }

        numlock
    }

    touchpad {

        tap

        natural-scroll

    }

    mouse {
        
    }
   
    touch {
        // off
        map-to-output "eDP-1"
        // calibration-matrix 1.0 0.0 0.0 0.0 1.0 0.0
    }

    
    focus-follows-mouse max-scroll-amount="20%"
    warp-mouse-to-focus
}

// ---------------------------- Output ----------------------------

output "edp-1" {

    mode "1920x1080@60.00"

    scale 1.1

    transform "normal"

    position x=1280 y=0
}

// ---------------------------- other shyt ----------------------------

prefer-no-csd


screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
















