layout {
    
    background-color "transparent"


    gaps 16


    center-focused-column "never"


    preset-column-widths {
     
	proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }


    default-column-width { proportion 0.5; }


    focus-ring {
       
         off

    }

    border {
        
        off

    }


    tab-indicator {
        width 4
        gap 4
        length total-proportion=1.0
        position "left"
        corner-radius 8
	active-color "#a8c7fa"


        place-within-column
    }




    
    always-center-single-column


}

