hotkey-overlay {

    skip-at-startup
}


//---------------------------- Apps ----------------------------



//---------------------------- Utils --------------------------


spawn-at-startup "waybar"

//spawn-at-startup "wlsunset"

spawn-at-startup "awww-daemon"

spawn-sh-at-startup "vicinae server"

spawn-sh-at-startup "hypridle"

spawn-sh-at-startup "copyq --start-server"

spawn-sh-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"




