
//------------------------------ Window rule -----------------------

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

window-rule {
    match is-active=false

    opacity 0.98
}


// ---------------------------- Apps --------------------------


window-rule {
   
    match app-id="spotify"
    default-column-width { fixed 1136; }
    default-window-height { fixed 924; }
    open-floating false

}


window-rule {
   
    match app-id=r#"org.gnome.Solanum$"# title="^Solanum$"
    default-column-width { fixed 1711; }
    open-floating false

}

window-rule {
   
    match app-id="kew"
    match app-id="org.gnome.Nautilus"
    match app-id="com.github.neithern.g4music"
    match app-id="dev.mufeed.Wordbook" 
    match app-id="com.ayugram.desktop"
    match app-id="com.rafaelmardojai.Blanket"
    match app-id="io.bassi.Amberol"
    default-column-width { fixed 490; }
    open-floating false

}

window-rule {
 
    match app-id="mpv"
    default-column-width { fixed 436; }
    default-window-height { fixed 303; }
    open-floating true 

}

window-rule {
    
    match app-id="com.github.hluk.copyq"
    default-column-width { fixed 512; }
    default-window-height { fixed 471; }

    open-floating true

}


window-rule {
    
    match app-id="com.network.manager"
    match app-id="blueberry.py" 
    default-column-width { fixed 401; }
    default-window-height { fixed 500; }

    open-floating true
    default-floating-position x=32 y=10 relative-to="top-right"

}


window-rule {
    
    match app-id=r#"imv$"#
    open-floating true
    default-floating-position x=120 y=10 relative-to="top-left"

}

window-rule {
    
    match app-id=r#"anki$"# title="^add$"
    default-column-width { fixed 600; }
    default-window-height { fixed 600; }


    open-floating true
   
}

window-rule {

    match title="^Picture-in-Picture$"
    open-floating true
    default-floating-position x=32 y=32 relative-to="bottom-right"
  

}



